#login-form label, #register-form label {
    display: inline-block;
    width: 15%;
    margin-bottom: 0.5em;
}

#login-form input, #register-form input {
    display: inline-block;
}

.error {
    background-color: red;
    text-align: center;
    border-radius: 5px;
}

.success {
    background-color: lightgreen;
    text-align: center;
    border-radius: 5px;
}